// Font
$mainFont: "Montserrat", Helvetica, Arial, sans-serif;
$titleFont: "Montserrat-Bold", Helvetica, Arial, sans-serif;

// Size
$mainFontColor: #101010;
$mainFontSize: 16px;
$bigFontSize: 22px;
$mobileFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1.3;

$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Main color
$default-color: #ffffff;
$primary-color: #e94949;
$link-color-default: #17a2b8;
$link-color-hover: #0062cc;
$success-color: #28a745;
$danger-color: #fc5c65;
$warning-color: #fed330;
$light-color: #999999;
$purple-color: #8854d0;

// Neutral Color
$neutral-primary: #303133;
$neutral-regular: #606266;
$neutral-secondary: #909399;
$neutral-placeholder: #c0c4cc;

// Border Color
$border-base: #dcdfe6;
$border-light: #e4e7ed;
$border-lighter: #ebeef5;
$border-lightex: #f2f6fc;
