html,
body,
#root {
  height: 100%;
}

.App {
  height: 100%;
  text-align: center;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 270px 2fr;
  background-color: #fff;
  font-size: 16px;
}

.app-content {
  grid-area: content;
  text-align: left;
}

.pages-content {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
  background: #fafafa;
  padding: 0 5px;
}
